.card {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.card .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.label-success {
  margin-right: 30px;
}
